{% extends 'base.html.twig' %}


{% block title %}Snowtricks - création d'une figure{% endblock %}


{% block presentation %}
{% include 'accueil/other/accroche_v3.html.twig' %}
{% endblock %}



{% block body %}
<div class="container">


{% if app.session.get('sessionId') %}
 
     
  {{ form_start(form, {'attr': {'class': 'mui-form'}}) }}


    {# name de la figure #}
    <div class="mui-textfield mui-textfield--float-label">
        {{ form_widget(form.name, { 'attr': {'type': 'text'} }) }}
        {{ form_label(form.name, 'Name of the figure') }}
    </div>
    
    
    
    
    {# description de la figure #}
    <div class="mui-textfield mui-textfield--float-label">
        {{ form_widget(form.description, { 'attr': {'type': 'text'} }) }}
        {{ form_label(form.description, 'Description of the figure') }}
    </div>
    
    
    
    
    {# difficulty de la figure #}
    <div class="mui-select">
        {{ form_widget(form.difficulty) }}
        {{ form_label(form.difficulty, 'Difficulty of the figure') }}
    </div>
    
    
    
    
    {# image principale de la figure #}
    {{ form_label(form.mainimage, "Image principale de la figure") }}
    {{ form_widget(form.mainimage) }}
    
    
    <h3>Add the tags</h3>
    <ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
        {% for tag in form.tags %}
            <li>
                {{ form_row(tag.explanation) }}
                {{ form_row(tag.image) }}
            </li>
        {% endfor %}
    </ul>
    
    
     
    {{ form_widget(form.save, {'attr': {'class': 'mui-btn mui-btn--raised'}}) }}
    
     
     
    {{ form_end(form) }}

    
{% else %}
    <div class="col-lg-12 encart">
        <p>Connectez-vous pour pouvoir créer une figure.</p>
    </div>	
{% endif %}



    



</div>
{% endblock %}



