{% extends 'base.html.twig' %}


{% block presentation %}
{% include 'accueil/other/accroche_createaccount.html.twig' %}
{% endblock %}


{% block body %}
<div id="form_ancre"></div>




<div class="container">


 {{ form_start(formSnowboarder, {'attr': {'class': 'mui-form'}}) }}

    <h3>création d'un compte</h3>

    {# nom #}
    <div class="mui-textfield mui-textfield--float-label">
        {{ form_widget(formSnowboarder.name, { 'attr': {'type': 'text'} }) }}
        {{ form_label(formSnowboarder.name, 'Nom') }}
    </div>
    
    
    
    
    {# email #}
    <div class="mui-textfield mui-textfield--float-label">
        {{ form_widget(formSnowboarder.email, { 'attr': {'type': 'text'} }) }}
        {{ form_label(formSnowboarder.email, 'Email') }}
    </div>
    
    
    {# password #}
    <div class="mui-textfield mui-textfield--float-label">
        {{ form_widget(formSnowboarder.password, { 'attr': {'type': 'text'} }) }}
        {{ form_label(formSnowboarder.password, 'Password') }}
    </div>
    
    
    {# portrait du snowboarder #}
    {{ form_label(formSnowboarder.portrait, "Portrait du snowboarder") }}
    {{ form_widget(formSnowboarder.portrait) }}
    
    
    {{ form_widget(formSnowboarder.save, {'attr': {'class': 'mui-btn mui-btn--raised'}}) }}
    
     
    {{ form_end(formSnowboarder) }}

</div>




{% endblock %}