{% extends 'base.html.twig' %}




{% block presentation %}
{% include 'accueil/other/accroche_v1.html.twig' %}
{% endblock %}





{% block body %}







<!-- Encarts figures -->
<section class="fashion-area section-gap" id="fashion">
				<div class="container">
					
                    <div id="figure_ancre"></div>
                    
                    <div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Check the latest figures posted by your fellows...</h1>
								<p>... and don't hesitate to visit any that you like and post your comments!!!</p>
							</div>
						</div>
					</div>
                    
                    
                    
                    
                    
					
                    <div class="row">
						
                        {% for figure in figures %}
                        <div class="figure_min col-lg-3 col-md-6 single-fashion" style="display:none;">
							<img class="img-fluid" src="/uploads/images/{{ figure.mainimage }}" alt=""> 
							<p class="date">Créée le {{ figure.createdAt|date("m/d/Y") }}</p>
							<h4><a href="/figure/{{ figure.id }}">{{ figure.name }}</a></h4>
							<p>
								{{ figure.description|slice(0, 10) ~ " ..." }}
							</p>
							
                            <div class="meta-bottom d-flex justify-content-between">
								
                                {% if app.session.get('sessionId') %}
                                    
                                    <a href="http://127.0.0.1:8000/modifyfigure/{{ figure.id }}"><span class="lnr lnr-heart glyphicon glyphicon-pencil"></span></a>
                                
                                
                                
                                    <a href="http://127.0.0.1:8000/deletefigure/{{ figure.id }}"><span class="lnr lnr-bubble glyphicon glyphicon-trash"></span></a>
                                
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %} 
						
                        						
					
                    </div>
				</div>	
			</section>
<!-- End Encarts figures -->



<script>
    
    {% if numberFigures is defined %}
        var numberFigures = {{ numberFigures }};
    {% endif %}
    
    var showNumber = 0;
    var step = 4;
    var figures = document.getElementsByClassName("figure_min");
     
    
    
    
    window.addEventListener('scroll', function ( event ) {
        
        var total = document.body.scrollTop + window.innerHeight + 250;
        
        if(total >= document.body.scrollHeight && showNumber < numberFigures ){
            showNumber += step;
            var start = (showNumber-step)>=0 ? showNumber-step : 0
            if( showNumber > numberFigures ){ showNumber = figures.length }
            
            for (var i = start ; i < showNumber ; i++) {
                figures[i].style.display = "block";
            }
            
            
            for (var opacity = 0; opacity < 1; opacity += 0.00001) {
                for (var i = showNumber-step; i < showNumber; i++) {
                    figures[i].style.opacity = opacity;
                }
                
            }
            
        }
        
    }, false);

</script>





{% endblock %}    
    


























