{% extends 'base.html.twig' %}


{% block title %}Snowtricks - figure :  {{ figure.name }}{% endblock %}




{% block presentation %}
{% include 'accueil/other/accroche_v2.html.twig' %}
{% endblock %}



{% block body %}





<header class="masthead">
      
    
    <div class="container h-100">
        
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
               
                
<div class="whole-wrap pb-100">
	<div class="container">
        
        
        
        {% for tag in figure.tags %}
        <div class="container">
            {% if loop.index is even %}
                <div class="section-top-border text-right">
						<h3 class="mb-30">étape {{ loop.index }}</h3>
						<div class="row">
							<div class="col-md-8">
								<p class="text-right">{{ tag.explanation }}</p>
							</div>
							<div class="col-md-3">
								<img class="img-fluid" src="/uploads/images/{{ tag.image }}" alt=""  />
							</div>
						</div>
					</div>
            {% else %}
            <div class="section-top-border">
						<h3 class="mb-30">étape {{ loop.index }}</h3>
						<div class="row">
							<div class="col-md-3">
								<img class="img-fluid" src="/uploads/images/{{ tag.image }}" alt=""  />
							</div>
							<div class="col-md-8 mt-sm-20">
								<p>{{ tag.explanation }}</p>
							</div>
						</div>
					</div>
            {% endif %}
            
            {% if app.session.get('sessionId') %}
            
            {% if removetagformviews[tag.id] is defined %}
                 {{ form_start(removetagformviews[tag.id]) }}
                      {{ form_row(removetagformviews[tag.id].save) }}
                 {{ form_end(removetagformviews[tag.id]) }}
            {% endif %}
            
            
            <div onclick="{{'hideAndShow_'~tag.id~'()'}}" class="button-group-area mt-40"><a class="genric-btn info circle">Show modification form</a></div>
            

            <div id="{{'modifytagform'~tag.id}}" style="display:none;">
            {{ form_start(modifytagformviews['modif'~tag.id], {'attr': {'class': 'mui-form'}}) }}
                
                <div class="mui-textfield mui-textfield--float-label">
                    {{ form_widget(modifytagformviews['modif'~tag.id].explanation, { 'attr': {'type': 'text'} }) }}
                    {{ form_label(modifytagformviews['modif'~tag.id].explanation, 'My new explanation') }}
                </div>
                
                <label id="{{'switch_'~tag.id}}" class="switch" onchange="{{'switchImageVideo_'~tag.id}}(this)">
                    <input id="{{'checkbox_'~tag.id}}" type="checkbox" checked>
                    <span class="slider round"></span>
                </label>


                <div id="{{'image_'~tag.id}}">Image :
                    {{ form_row(modifytagformviews['modif'~tag.id].image) }}
                </div>
                <script>document.getElementById("{{'modif'~tag.id~'_image'}}").required = false</script>

                <div id="{{'video_'~tag.id}}">Vidéo :
                    {{ form_row(modifytagformviews['modif'~tag.id].video) }}
                </div>
                <script>document.getElementById("{{'modif'~tag.id~'_video'}}").required = false</script>
                
                <script>
                    var {{'checkbox_'~tag.id}} = document.getElementById("{{'checkbox_'~tag.id}}");
                    var {{'imageForm_'~tag.id}} = document.getElementById("{{'image_'~tag.id}}");
                    var {{'videoForm_'~tag.id}} = document.getElementById("{{'video_'~tag.id}}");
                    {{'videoForm_'~tag.id}}.style.display = "none";
                    function {{'switchImageVideo_'~tag.id}}() {
                        if ({{'checkbox_'~tag.id}}.checked) {
                            console.log('test2', {{'checkbox_'~tag.id}}.checked)
                            {{'videoForm_'~tag.id}}.style.display = "none";
                            {{'imageForm_'~tag.id}}.style.display = 'block';
                        } else {
                            console.log('test2', {{'checkbox_'~tag.id}}.checked)
                            {{'videoForm_'~tag.id}}.style.display = 'block';
                            {{'imageForm_'~tag.id}}.style.display = "none";
                        }
                    }
                </script>
                
                
                {{ form_widget(modifytagformviews['modif'~tag.id].save, {'attr': {'class': 'mui-btn mui-btn--raised', 'label': 'Click me'}}) }}
                
            {{ form_end(modifytagformviews['modif'~tag.id]) }}
            </div>

            <script>
            function {{'hideAndShow_'~tag.id~'()'}} {
                var x = document.getElementById("{{'modifytagform'~tag.id}}");
                if (x.style.display === "none") {
                    x.style.display = "block";
                } else {
                    x.style.display = "none";
                }
            }
            </script>
            
            
            
            {% endif %}
		</div>
        
        
        <div class="mui--divider-top">
            
        
        {% endfor %}
        
        
        <div class="mui-appbar"> Add new tags </div>
        
        
        {{ form_start(tagformview, {'attr': {'class': 'mui-form'}}) }}
            
            
            <div class="mui-textfield mui-textfield--float-label">
                {{ form_widget(tagformview.explanation, { 'attr': {'type': 'text'} }) }}
                {{ form_label(tagformview.explanation, 'My explanation') }}
            </div>
        
        
            <label id="switch" class="switch" onchange="switchImageVideo(this)">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
        
        
            <div id="image">Image :
                {{ form_widget(tagformview.image, { 'attr': {'type': 'text'} }) }}
            </div>
            <script>document.getElementById("_image").required = false</script>
        
            <div id="video">Vidéo :
                {{ form_widget(tagformview.video, { 'attr': {'type': 'text'} }) }}
            </div>
            <script>document.getElementById("_video").required = false</script>
        
        
            {{ form_widget(tagformview.save, {'attr': {'class': 'mui-btn mui-btn--raised'}}) }}
        
            
        {{ form_end(tagformview) }}
        <script>
            var checkbox = document.querySelectorAll("label#switch > input")[0];  
            var imageForm = document.getElementById("image");
            var videoForm = document.getElementById("video");
            videoForm.style.display = "none";
            function switchImageVideo() {
                if (checkbox.checked) {
                    videoForm.style.display = "none";
                    imageForm.style.display = 'block';
                } else {
                    videoForm.style.display = 'block';
                    imageForm.style.display = "none";
                }
            }
        </script>
        
        
<!-- Start comment-sec Area -->
<section class="comment-sec-area pt-80 pb-80">
    <div class="container">
        <div class="row flex-column">
            <h5 class="text-uppercase pb-80">Comments : </h5>
            <br>

            {% for comment in comments %}
            <div class="comment-list">
            <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                    <div class="thumb">
                        <img src="/uploads/images/{{ comment.snowboarder.portrait }}" alt=""  />
                    </div>
                    <div class="desc">
                        <h5><a href="#">{{ comment.snowboarder.name }}</a></h5>
                        <p class="date">{{ comment.dateCreation|date("d/m/Y \\a\\t h:m:s") }}</p>
                        <p class="comment">
                            {{ comment.contenu }}
                        </p>
                    </div>
                </div>
                <div class="reply-btn">
                       <a href="" class="btn-reply text-uppercase">reply</a> 
                </div>
            </div>
            </div>
            {% endfor %}

        </div>
    </div>    
</section>
<!-- End comment-sec Area -->
        
        
        
<!-- Start commentform Area -->
{% if app.session.get('sessionId') %}
{{ form_start(form, {'attr': {'class': 'mui-form'}}) }}
    
    {{ form_errors(form) }}
        
    <div class="mui-textfield mui-textfield--float-label">
        {{ form_widget(form.contenu, { 'attr': {'type': 'text'} }) }}
        {{ form_label(form.contenu, 'My comment') }}
    </div>

    {{ form_widget(form.save, {'attr': {'class': 'mui-btn mui-btn--raised'}}) }}

{{ form_end(form) }}
{% else %}
    <div class="col-lg-12 encart">
        <p>Connectez-vous pour pouvoir poster un commentaire.</p>
    </div>
{% endif %}                
<!-- End commentform Area -->
        
        
        
        
        
   </div> 
</div>
                     
            
              </div>
          </div>
        </div>
      </div>
</header>


{% endblock %}









