{% extends 'base.html.twig' %}



{% block presentation %}
{% include 'accueil/other/accroche_mail.html.twig' %}
{% endblock %}




{% block body %}


<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}


    
    
     {# name #}
  <div class="form-group">
    {{ form_label(form.name, "name", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.name) }}
    <div class="col-sm-10">
      {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    
    
    
    
    {# From #}
  <div class="form-group">
    {{ form_label(form.from, "from", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.from) }}
    <div class="col-sm-10">
      {{ form_widget(form.from, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    
     
      
     
     
      
     {# body #}
  <div class="form-group">
    {{ form_label(form.body, "message", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.body) }}
    <div class="col-sm-10">
      {{ form_widget(form.body) }}
     </div>
  </div>
     
     
     
     
     
    {{ form_end(form) }}
</div>  





{% endblock %}















