{% extends 'base.html.twig' %}



{% block body %}
<div class="col-lg-12 figure_big">
	
	<h2>{{ figure.name }}</h2> <p>Difficulté : {{ figure.difficulty }}</p>
	
	
	<img src="{{ asset(figure.image) }}" alt="Symfony!" />

	<br>
	
	{{figure.description}}
	
	<p><a class="btn btn-primary" href="http://localhost:8000/modifyfigure/{{ figure.id }}">Modifier</a></p>

</div>	
	

<div class="col-lg-12 encart">
<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form) }}

  <div class="form-group">
    {{ form_label(form.contenu, "Ecrivez votre message", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.contenu) }}

    <div class="col-sm-10">
      {{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {{ form_end(form) }}
</div>
</div>

	
{% for message in messages %}
	<div class="col-lg-12 encart">
        <p>publié le : {{ message.dateCreation|date("m/d/Y") }} par {{ message.author }}</p>
        {{ message.contenu }}
    </div>	
{% endfor %}	
	


{% endblock %}


